NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:4200

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=sob
DATABASE_PASSWORD=sob_password
DATABASE_NAME=sob_platform

# Change this to a long random string in production
JWT_SECRET=dev_secret_change_me
JWT_EXPIRES_IN=7d
